{% extends 'base.html.twig' %}


{% block body %}
	<link href="{{asset('css/style.css')}}" rel="stylesheet">

	<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<link
	href="{{asset('template/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- Font Awesome -->
	<link
	href="{{asset('template/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
	<!-- NProgress -->
	<link
	href="{{asset('template/nprogress/nprogress.css')}}" rel="stylesheet">
	<!-- iCheck -->
	<link
	href="{{asset('template/iCheck/skins/flat/green.css')}}" rel="stylesheet">
	<!-- Datatables -->
	<link href="{{asset('template/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('template/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('template/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('template/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link
	href="{{asset('template/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="{{asset('build/css/custom.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/style.css')}}" rel="stylesheet">


	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>Button Example
					<small>Users</small>
				</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<i class="fa fa-wrench"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a>
							<a class="dropdown-item" href="#">Settings 2</a>
						</div>
					</li>
					<li></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-sm-12">
						<div class="card-box table-responsive">
							<p class="text-muted font-13 m-b-30"></p>
							<table id="datatable-buttons" class="table table-striped jambo_table bulk_action table-bordered" style="width:100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Position</th>
										<th>nation</th>
										<th>Age</th>
										<th>Squad</th>
										<th>Born</th>
									</tr>
								</thead>


								<tbody>
									{% for player in data %}
										<tr>
											<td>{{player.name}}</td>
											<td>{{player.position}}</td>
											<td>{{player.nation}}</td>
											<td>{{player.age}}</td>
											<td>{{player.squad}}</td>
											<td>{{player.born}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}

	{% block javascript %}
		<!-- jQuery -->
		<script src="{{asset('template/jquery/dist/jquery.min.js')}}"></script>
		<!-- Bootstrap -->
		<script src="{{asset('template/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
		<!-- FastClick -->
		<script src="{{asset('template/fastclick/lib/fastclick.js')}}"></script>
		<!-- NProgress -->
		<script src="{{asset('template/nprogress/nprogress.js')}}"></script>
		<!-- iCheck -->
		<script src="{{asset('template/iCheck/icheck.min.js')}}"></script>
		<script src="{{asset('template/jquery/dist/jquery.min.js')}}"></script>
		<script src="{{asset('template/datatables.net/js/jquery.dataTables.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
		<script src="{{asset('template/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
		<script src="{{asset('template/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
        <script src="{{asset('template/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
		{# <script src="{{asset('template/jszip/dist/jszip.min.js')}}"></script> #}
		<script src="{{asset('template/pdfmake/build/pdfmake.min.js')}}"></script>
		<script src="{{asset('template/pdfmake/build/vfs_fonts.js')}}"></script>
		<script src="{{asset('template/jszip/dist/jszip.min.js')}}"></script>
		<script src="{{asset('template/pdfmake/build/pdfmake.min.js')}}"></script>
		<script src="{{asset('template/pdfmake/build/vfs_fonts.js')}}"></script>

		<!-- Custom Theme Scripts -->
			<script src="{{asset('build/js/custom.min.js')}}"></script>

		<script>
{# 

			{
# $("#datatable-buttons").DataTable(
{
dom: "Blfrtip",
buttons: [
{
extend: "copy",
className: "btn-sm"
},
{
extend: "csv",
className: "btn-sm"
},
{
extend: "excel",
className: "btn-sm"
},
{
extend: "pdfHtml5",
className: "btn-sm"
}, {
extend: "print",
className: "btn-sm"
},
],
responsive: true
}
);
#
} #}
		</script>
	{% endblock %}
